@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;700&family=M+PLUS+Rounded+1c:wght@400;500;700&family=Noto+Sans+JP:wght@400;500;700&display=swap');

body {
  font-family: "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", YuGothic, "メイリオ", Meiryo, sans-serif;
  -webkit-text-size-adjust: 100%;
  background-color: #fff;
}

.clearfix:after {
  content:" ";
  display:block;
  clear:both;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* ------------------------------------------------------
General
------------------------------------------------------ */

html {
  background: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: 400;
  color: #231815;
}

#wrapper {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.inner {
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
input,
button,
textarea,
select,
p,
blockquote,
th,
td,
pre,
address,
li,
dt,
dd {
  font-size: 16px;
  font-style: normal;
}

img {
  max-width: 100%;
  height: auto;
}

html,
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
table,
tr,
th,
td {
  margin: 0;
  padding: 0;
}

p {
  line-height: 1.8;
  margin: 0;
}

li {
  list-style: none;
}

.en {
  font-family: 'Dosis', sans-serif;
  text-transform: uppercase;
}

.btn {
  width: 80vw;
  height: 16vw;
  margin: 0 auto;
}

.btn a {
  font-size: 3.733vw;
  font-weight: 700;
  color: #FD4D3F;
  background: #FFF8EB;
  border-radius: 12vw;
  width: 100%;
  height: 100%;
  box-shadow: 6px 6px 30px 0px rgba(199,16,1,1);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .3s ease-in-out;
}

.btn a:hover,
.spec_infor .btn a:hover {
  color: #fff;
  background: #12407E;
  box-shadow: none;
}

@keyframes bounce {
  0% {
    transform: translateX(0);
  }
  10% {
      transform: translateX(4px);
  }

  20% {
      transform: translateX(0);
  }
  30% {
      transform: translateX(0);
  }
  40% {
      transform: translateX(0);
  }
  50% {
      transform: translateX(0);
  }
  60% {
      transform: translateX(0);
  }
  70% {
      transform: translateX(0);
  }
  80% {
      transform: translateX(0);
  }
  90% {
      transform: translateX(0);
  }
  100% {
      transform: translateX(0);
  }
}

@media screen and (min-width: 768px) {
  .sp {
      display: none !important;
  }

  .btn {
    max-width: 353px;
    width: 100%;
    height: 69px;
  }

  .btn a {
    font-size: 16px;
    border-radius: 45px;
  }
}

@media screen and (max-width: 767px) {
  .pc {
      display: none !important;
  }

  .inner {
    padding: 0 6.667vw;
  }
}

.fadeup {
  opacity: 0;
  transform: translate(0, 70px);
  transform-style: preserve-3d;
  transition: all .8s cubic-bezier(0.165, 0.80, 0.45, 1)
}

.txt.fadeup {
  transform: translate(0, 70px) rotate(0.05deg);
}

.fadein {
  opacity: 0;
  transform: translate(-70px, 0);
  transform-style: preserve-3d;
  transition: all .8s cubic-bezier(0.165, 0.80, 0.45, 1)
}

.fadeup.active,
.fadein.active {
  opacity: 1;
  transform: translate(0, 0);
}

.txt.fadeup.active {
  transform: translate(0, 0) rotate(0.05deg);
}

/* ------------------------------------------------------
Main
------------------------------------------------------ */
.sec_ttl {
  font-size: 6.133vw;
  font-weight: 700;
  letter-spacing: 0.05em;
  line-height: 1.5;
  color: #12407E;
  margin-bottom: 4.267vw;
}

.sec_ttl .en {
  font-size: 5.333vw;
  font-weight: 700;
  letter-spacing: 0.1em;
  color: #FD4D3F;
  display: block;
  margin-bottom: 1.600vw;
}

.txt {
  font-weight: 500;
  color: #12407E;
}

.under {
  text-decoration: underline;
}

@media screen and (min-width: 768px) {
  .sec_ttl {
    font-size: 40px;
    line-height: 1.5;
    margin-bottom: 14px;
  }

  .sec_ttl .en {
    font-size: 24px;
    margin-bottom: 5px;
  }
}

@media screen and (max-width: 767px) {
  .txt {
    font-size: 3.733vw;
  }
}

/* Header  */
header {
  background: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 99;
}
.header_wrap {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 20px 15px;
}
.header_wrap .header_logo {
  width: 150px;
}
.header_wrap #nav {
  background: #FD4D3F;
  position: fixed;
  top: 0;
  bottom: 0;
  right: -100%;
  overflow-y: auto;
  transition: all 0.3s ease-out;
  padding: 50px 15px;
  z-index: 98;
  width: 100%;
}

.nav-opened .header_wrap #nav {
  display: block;
  right: 0;
}

.mainmenu {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
}

.mainmenu li {
  text-align: center;
  margin-bottom: 15px;
}

.mainmenu li a {
  color: #ffffff;
  display: block;
  letter-spacing: 0.05em;
  font-size: 18px;
  line-height: 1.2;
  font-weight: bold;
  transition: all 0.3s ease-out;
  padding: 10px 0;
}

.mainmenu li span {
  display: block;
  font-size: 10px;
}

/* Hamburger */
.hamburger {
  width: 25px;
  height: 25px;
  border-radius: 0;
  cursor: pointer;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0;
  margin-left: auto;
  z-index: 99;
  position: fixed;
  top: 25px;
  right: 30px;
}

.hamburger button {
  outline: none;
  display: block;
  border: none;
  background: none;
  position: relative;
  width: 25px;
  height: 18px;
}

.hamburger span {
  position: absolute;
  left: 0;
  background-color: #12407E;
  display: block;
  width: 100%;
  height: 2px;
  transition: all .6s cubic-bezier(0.190, 1.000, 0.220, 1.000);
}

.hamburger span:nth-child(1) {
  top: 0;
}

.hamburger span:nth-child(2) {
  top: 8px;
}

.hamburger span:nth-child(3) {
  top: 16px;
}

.nav-opened .hamburger span:nth-child(3) {
  opacity: 0;
}

.nav-opened .hamburger span:nth-child(1) {
  transform: rotate(135deg);
  top: 8px;
}

.nav-opened .hamburger span:nth-child(2) {
  transform: rotate(-135deg);
  top: 8px;
}

@media only screen and (min-width: 768px) {
  .header_wrap #nav {
    width: 380px;
    right: -380px;
  }
}

/* Mainvisual */
#mainvisual {
  padding: 18.933vw 0 83.200vw;
  background: #fff8eb url(../img/img_mv_bg_sp.png) no-repeat bottom center / 100% auto;
}

#mainvisual .inner {
  position: relative;
}

.logo {
	top: -14vw;
	left: 4vw;
	position: absolute;
	z-index: 2;
	width: 46vw;
}

.mv_txt {
  top: 7.200vw;
  left: 11.200vw;
  position: absolute;
  z-index: 5;
}

.mv_slide {
  position: relative;
}

.mv_slide .ob01,
.mv_slide .tag {
  position: absolute;
  z-index: 2;
}

.mv_slide .ob01 {
  width: 75.200vw;
  bottom: -51.067vw;
  left: -7.733vw;
}

.mv_slide .tag {
  width: 35.733vw;
  bottom: -58.933vw;
  left: 45.333vw;
}

.btn_area {
  display: flex;
  align-items: center;
}

.btn_area .btn {
  margin: 0
}

.btn_area .cart,
.btn_area .tel {
  width: 42.667vw;
  height: 13.333vw;
}

.btn_area .cart a,
.btn_area .tel a {
  color: #fff;
  background: #FD4D3F;
  box-shadow: 6px 10px 10px 0 rgba(0,0,0,0.1);
}

.btn_area .cart a span {
  position: relative;
  padding-left: 8.800vw;
}

.btn_area .cart a span::before {
  content: "";
  position: absolute;
  width: 6.133vw;
  height: 5.867vw;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  background: url(../img/ico_btn_cart.png) no-repeat 0 0 / 100% auto;
}


.btn_area .tel a {
  font-size: 3.200vw;
  font-weight: 700;
}

.btn_area .tel a .ico {
  padding-left: 8vw;
  position: relative;
}

.btn_area .tel a .ico::before {
  content: "";
  position: absolute;
  width: 5.333vw;
  height: 5.333vw;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  background: url(../img/ico_phone.png) no-repeat 0 0 / 100% auto;
}

.scroll_area {
  position: fixed;
  left: 0;
  bottom: 9.067vw;
  width: 100%;
  z-index: 50;
  opacity: 0;
  visibility: hidden;
  transition: all .3s ease-in-out;
}

.scroll_area.show {
  opacity: 1;
  visibility: visible;
}

.scroll {
  display: inline-block;
  transform: rotate(90deg);
  margin-left: -11.867vw;
}

.scroll a {
  font-size: 3.733vw;
  font-weight: 700;
  color: #12407E;
  padding-right: 11.733vw;
  position: relative;
}

.scroll a::after {
  content: "";
  position: absolute;
  top: -1.867vw;
  right: 0;
  width: 9.067vw;
  height: 9.067vw;
  animation: 2s ease-in-out infinite bounce;
  background: url(../img/ico_scroll.png) no-repeat 0 0 / 100% auto;
}

@media screen and (min-width: 768px) {
  #mainvisual {
    padding: 24px 0 70px;
    background: #fff8eb url(../img/img_mv_bg.png) no-repeat bottom center / 100% auto;
  }

  #mainvisual .logo {
    display: block;
    position: absolute;
    top: 9px;
    left: 38px;
    display: block;
    z-index: 2;
  }

  .mv_txt {
    top: 117px;
    left: 137px;
  }

  .mv_slide {
    padding-right: 68px;
  }

  .mv_slide .ob01 {
    bottom: 0;
    left: 280px;
    width: 584px;
  }

  .mv_slide .tag {
    bottom: -25px;
    right: 0;
    left: auto;
    width: 202px;
  }

  .slide_list li {
    outline: none;
  }

  .slide_list li img{
    margin: 0 0 0 auto;
    outline: none;
  }

  .btn_area {
    max-width: 976px;
    width: 100%;
    margin: -6px auto 0;
    padding: 0 50px;
  }

  .btn_area .cart {
    max-width: 160px;
    height: 50px;
  }

  .btn_area .tel {
    max-width: 240px;
    height: 50px;
    margin-left: 17px;
  }

  .btn_area .tel a {
    font-size: 14px;
    color: #FD4D3F;
    background: transparent;
    border-radius: 0;
    box-shadow: none;
  }

  .btn_area .cart a span,
  .btn_area .tel a span {
    transform: rotate(0.05deg);
  }

  .btn_area .cart a span {
    padding-left: 33px;
  }

  .btn_area .cart a span::before {
    width: 23px;
    height: 22px;
  }

  .btn_area .tel a .ico {
    padding-left: 30px;
  }

  .btn_area .tel a .ico::before {
    width: 20px;
    height: 20px;
    background: url(../img/ico_btn_phone.png) no-repeat 0 0 / 100% auto;
  }

  .scroll_area {
    bottom: 266px;
  }

  .scroll {
    margin: 0;
  }

  .scroll a {
    font-size: 16px;
    padding-right: 42px;
  }

  .scroll a::after {
    top: -5px;
    width: 34px;
    height: 35px;
  }
}

@media screen and (max-width: 1365px) and (min-width: 768px) {
  .mv_txt {
    width: 8.053vw;
    left: 10.029vw;
  }

  .mv_slide {
    padding-right: 4.982vw;
  }

  .mv_slide .ob01 {
    left: 15.652vw;
    width: 42.753vw;
  }
}

@media screen and (max-width: 1150px) and (min-width: 1101px) {
  .mv_slide {
    padding-right: 0;
  }
}

@media screen and (max-width: 1100px) and (min-width: 901px) {
  .slide_list {
    margin-right: -150px;
  }
}

@media screen and (max-width: 900px) and (min-width: 768px) {
  .slide_list {
    margin-right: -270px;
  }
}

@media screen and (max-width: 767px) {

  .mv_txt {
    width: 17.600vw;
  }

  .mv_slide {
    margin: 0 -48.533vw 0 8.533vw;
  }

  .btn_area {
    position: absolute;
    bottom: -77.867vw;
    left: 50%;
    transform: translate(-50%, 0);
    justify-content: space-between;
  }

  .btn_area .cart,
  .btn_area .tel {
    margin: 0 1.333vw;
  }
}

/* Scene */
#scene {
  padding: 23.467vw 0 22.933vw;
  background: #EBF6F8 url(../img/img_scene_bg_sp.png) no-repeat 0 0 / 100% auto;
}

.scene_group {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.scene_group .group {
  position: relative;
}

.scene_group .group01,
.scene_group .group04 {
  width: 63.067vw;
}

.scene_group .group02,
.scene_group .group03 {
  width: 43.400vw;
}

.scene_group .group .g_ttl {
  width: 22.667vw;
  top: 0;
  left: 50%;
  position: absolute;
  text-align: center;
  z-index: 1;
}

.scene_group .group .g_txt {
  font-size: 3.200vw;
  font-weight: 500;
  line-height: 1.5;
  color: #12407E;
  background: url(../img/img_ob03.png) no-repeat bottom center / 44vw 41.867vw;
  transform: rotate(0.05deg);
}

@media screen and (min-width: 768px) {
  #scene {
    padding: 156px 0 165px;
    background: #EBF6F8 url(../img/img_scene_bg.png) no-repeat 0 0 / 100% auto;
  }

  #scene .sec_ttl,
  #scene .txt {
    max-width: 1128px;
    padding: 0 14px;
    margin: 0 auto;
  }

  #scene .txt {
    margin-bottom: 23px;
  }

  .scene_group {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
  }

  .scene_group.sg_01 {
    padding-right: 62px;
  }

  .scene_group.sg_02 {
    padding-left: 62px;
    margin-top: -89px;
  }

  .scene_group .group01,
  .scene_group .group04 {
    max-width: 517px;
    width: 100%;
  }

  .scene_group .group02,
  .scene_group .group03 {
    max-width: 427px;
    width: 100%;
  }

  .scene_group .group01 {
    padding-top: 90px;
  }

  .scene_group .group03 {
    padding-top: 179px;
  }

  .scene_group .group .g_ttl {
    width: 165px;
    top: 0;
    right: 0;
    left: auto;
  }

  .scene_group .group02 .g_ttl,
  .scene_group .group03 .g_ttl {
    width: 161px;
    right: 37px;
  }


  .scene_group .group01 .g_ttl {
    top: 128px;
  }

  .scene_group .group02 .g_ttl {
    top: 31px;
  }

  .scene_group .group03 .g_ttl {
    top: 200px;
  }

  .scene_group .group04 .g_ttl {
    top: 42px;
  }

  .scene_group .group .g_ttl img {
    width:  127px;
  }

  .scene_group .group .g_img {
    position: relative;
    z-index: 1;
  }

  .scene_group .group02 .g_img {
    padding-bottom: 67px;
  }

  .scene_group .group03 .g_img {
    padding-bottom: 97px;
  }

  .scene_group .group04 .g_img {
    padding-bottom: 22px;
  }

  .scene_group .group .g_txt {
    font-size: 16px;
    line-height: 1.4;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 255px;
    padding: 98px 0 30px 90px;
    background: url(../img/img_ob03.png) no-repeat bottom right / 100% auto;
  }

  .scene_group .group02 .g_txt,
  .scene_group .group03 .g_txt {
    padding: 98px 37px 25px 57px;
  }
}

@media screen and (max-width: 1050px) and (min-width: 768px) {
  .scene_group.sg_02 {
    margin-top: -130px;
  }

  .scene_group .group01,
  .scene_group .group04 {
    max-width: 450px;
  }

  .scene_group .group02,
  .scene_group .group03 {
    max-width: 390px
  }

  .scene_group .group01 {
    padding-top: 190px;
  }

  .scene_group .group02 {
    padding-top: 110px;
  }

  .scene_group .group03 {
    padding-top: 286px;
  }

  .scene_group .group04 {
    padding-top: 120px;
  }

  .scene_group .group01 .g_img,
  .scene_group .group04 .g_img {
    width: 290px;
  }

  .scene_group .group02 .g_img,
  .scene_group .group03 .g_img {
    width: 190px;
  }

  .scene_group .group01 .g_ttl {
    top: 140px;
  }

  .scene_group .group03 .g_ttl {
    top: 254px;
  }
}

@media screen and (max-width: 900px) and (min-width: 768px) {
  .scene_group.sg_01 {
    padding-right: 10px;
  }

  .scene_group.sg_02 {
    padding-left: 10px;
  }
}

@media screen and (max-width: 850px) and (min-width: 768px) {
  .scene_group .group01,
  .scene_group .group04 {
    max-width: 420px;
  }

  .scene_group .group02,
  .scene_group .group03 {
    max-width: 350px;
  }

  .scene_group .group01 .g_img,
  .scene_group .group04 .g_img {
    width: 250px;
  }

  .scene_group .group02 .g_img,
  .scene_group .group03 .g_img {
    width: 150px;
  }

  .scene_group .group01 .g_ttl {
    top: 90px;
  }

  .scene_group .group03 .g_ttl {
    top: 200px;
  }
}

@media screen and (max-width: 767px) {
  #scene .sec_ttl {
    letter-spacing: 0;
    margin-bottom: 1.333vw;
  }

  #scene .txt {
    margin-bottom: 8.267vw;
  }

  .scene_group.sg_01 {
    margin: 0 -6.667vw 0 -13.667vw;
  }

  .scene_group.sg_02 {
    margin: -39.200vw -13.667vw 0 -6.667vw;
  }

  .scene_group .group .g_ttl {
    transform: translate(-50%, 0);
  }

  .scene_group .group01 {
    padding-top: 48.800vw;
  }

  .scene_group .group02 {
    padding-top: 15.467vw;
  }

  .scene_group .group03 {
    padding-top: 78.400vw;
  }

  .scene_group .group04 {
    padding-top: 27.200vw;
  }

  .scene_group .group01 .g_ttl {
    top: 20.533vw;
  }

  .scene_group .group03 .g_ttl {
    top: 57.200vw;
  }

  .scene_group .group .g_img {
    text-align: center;
  }

  .scene_group .group01 .g_img img,
  .scene_group .group04 .g_img img {
    width: 63.200vw;
  }

  .scene_group .group02 .g_img img,
  .scene_group .group03 .g_img img {
    width: 43.467vw;
  }

  .scene_group .group01 .g_txt {
    padding: 9.933vw 14.6vw 8.333vw 14.6vw;
    margin-top: -7.200vw;
  }

  .scene_group .group04 .g_txt {
    padding: 8.933vw 14.600vw 4vw;
    margin-top: -6.133vw;
  }

  .scene_group .group02 .g_txt {
    padding: 6.933vw 2.6vw 5.333vw 7.6vw;
    margin-top: -7.467vw;
  }

  .scene_group .group03 .g_txt {
    padding: 10.933vw 5.600vw 0;
    margin-top: -10.133vw;
  }
}

/* Spec */
#spec {
  background: #C9E8EA url(../img/img_spec_bg_sp.png) no-repeat 0 0 / 100% auto;
  padding: 23.467vw 0 23.200vw;
}

#spec p{
  transform: rotate(0.05deg);
}

.spec_area {
  margin-bottom: 15.467vw;
}

.spec_img {
  width: 63.200vw;
  margin: 0 auto 4vw;
  position: relative;
}

.spec_img .m_btn {
  position: absolute;
  width: 29.600vw;
  height: 29.600vw;
  top: -1.067vw;
  left: -14.667vw;
  padding: 5.333vw 0 0 7.200vw;
  background: url(../img/ico_tag.png) no-repeat 0 0 / 100% 100%;
}

.spec_img .m_btn span {
  font-size: 3.200vw;
  font-weight: 700;
  line-height: 1.3;
  color: #fff;
  padding-bottom: 5.067vw;
  position: relative;
  }

.spec_img .m_btn span::after {
  content: "";
  position: absolute;
  width: 4.267vw;
  height: 4.267vw;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0);
  background: url(../img/ico_plus_sp.png) no-repeat 0 0 / 100% 100%;
}

.spec_infor .btn a {
  background: #FD4D3F;
  color: #fff;
  box-shadow: 6px 10px 10px 0 rgba(0,0,0,0.1);
  margin: 30px 0 0;
}

.spec_infor .txt {
  font-size: 3.733vw;
  font-weight: 700;
}

.spec_infor .color_red {
  color: #FD4D3F;
}

.spec_infor .txt_cap {
  color: #12407E;
  font-size: 2.733vw;
  font-weight: 700;
}

.spec_infor .txt .orange {
  color: #FD4D3F;
}

.mfp-bg {
  background: #C9E8EA;
  opacity: 0.9;
}

#modal1 .mfp-close {
  display: none;
}

.modal_box {
  width: 89.067vw;
  margin: 0 auto;
  position: relative;
}

.modal_box .modal-close {
  position: absolute;
  right: 4.533vw;
  top: 9.600vw;
  width: 11.733vw;
  height: 11.733vw;
  background: url(../img/ico_close_btn.png) no-repeat 0 0 / 100% 100%;
  z-index: 3;
}

.option_area .sec_ttl,
.option_area .txt {
  text-align: center;
}

.option_area .sec_ttl {
  margin-bottom: 0;
}

.option_area .txt {
  margin-bottom: 10.133vw;
}

.option_list {
  display: flex;
  justify-content: center;
}

.option_list li {
  width: 40vw;
  text-align: center;
}

.option_list li .option_txt {
  font-size: 3.733vw;
  font-weight: 500;
  line-height: 1.6;
  color: #12407E;
}

.option_list li .option_img {
  margin-bottom: 2.400vw;
}



@media screen and (min-width: 768px) {
  #spec {
    background: #C9E8EA url(../img/img_spec_bg.png) no-repeat 0 0 / 100% auto;
    padding: 178px 0 179px;
  }

  .spec_area {
    max-width: 1035px;
    width: 100%;
    margin: 0 auto 111px;
    display: flex;
  }

  .spec_img {
    width: calc(100% - 504px);
    padding-right: 53px;
    margin: 0;
  }

  .spec_img .m_btn {
    width: 157px;
    height: 157px;
    top: 40px;
    left: -21px;
    padding: 33px 0 0 43px;
    transform: rotate(0.05deg);
  }

  .spec_img .m_btn span {
    font-size: 14px;
    line-height: 1.7;
    padding-bottom: 30px;
  }

  .spec_img .m_btn span::after {
    width: 18px;
    height: 18px;
    background: url(../img/ico_plus.png) no-repeat 0 0 / 100% 100%;
  }

  .spec_detail {
    width: 504px;
  }

  .spec_infor {
    border-top: 2px solid #fff;
    margin: 28px 0 0;
    padding-top: 27px;
  }

  .spec_infor .txt {
    font-size: 18px;
  }

  .spec_infor .txt_cap {
    font-size: 14px;
  }

  .spec_infor .btn {
    margin: 0;
  }

  .modal_box {
    max-width: 620px;
    width: 100%;
  }

  .modal_box .modal-close {
    width: 80px;
    height: 80px;
    right: 34px;
    top: 67px;
  }

  .option_area .sec_ttl .en {
    margin-bottom: 2px;
  }

  .option_area .txt {
    margin-bottom: 38px;
  }

  .option_list {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
  }

  .option_list li {
    max-width: 190px;
    width: 100%;
    margin: 0 25px;
  }

  .option_list li .option_img {
    margin-bottom: 19px;
  }

  .option_list li .option_txt {
    font-size: 14px;
    line-height: 1.5;
  }
}

@media screen and (max-width: 1035px) and (min-width: 768px) {
  #spec .inner {
    padding: 0 14px;
  }

  .spec_img {
    padding-right: 30px;
  }

  .spec_img .m_btn {
    width: 15.169vw;
    height: 15.169vw;
    top: 3.865vw;
    left: -2.029vw;
    padding: 3.188vw 0 0 4.155vw;
  }

  .spec_img .m_btn span {
    font-size: 1.353vw;
    padding-bottom: 2.899vw;
  }

  .spec_img .m_btn span::after {
    width: 1.739vw;
    height: 1.739vw;
  }
}

@media screen and (max-width: 900px) and (min-width: 768px) {
  .spec_img .m_btn {
    width: 12.169vw;
    height: 12.169vw;
    top: 0.865vw;
    left: -2.029vw;
    padding: 1.188vw 0 0 2.755vw;
  }
}

@media screen and (max-width: 767px) {
  .spec_detail > .txt{
    margin-bottom: 8vw;
  }

  .option_list {
    flex-wrap: wrap;
    justify-content:center;
  }

  .option_list li {
    margin-bottom: 10.133vw;
  }
}

@-moz-document url-prefix() {
	.spec_img .m_btn span::after {
    bottom: -25px;
  }
}

/* Voice */
#voice {
  padding: 23.733vw 0 23.733vw;
  background: #FFF8EB url(../img/img_voice_bg_sp.png) no-repeat top center;
  background-size: 100% auto;
}

#voice .sec_ttl {
  text-align: center;
  margin-bottom: 1.333vw;
}

@media screen and (min-width: 768px) {
  #voice {
    background: #FFF8EB url(../img/img_voice_bg.png) no-repeat top center;
    background-size: 100% auto;
    padding: 117px 0 96px;
  }
}


/* Infor */
#infor {
  background: #FD4D3F;
  padding: 10.667vw 0;
}

.infor_detail {
  text-align: center;
}

.infor_detail .ttl {
  color: #ffffff;
  margin: 0 0 30px;
}

#infor p{
  transform: rotate(0.05deg);
}

.infor_detail .txt {
  font-size: 3.733vw;
  font-weight: 700;
  line-height: 1.4;
  color: #fff;
  margin-bottom: 5.333vw;
}

.infor_detail .btn {
  margin-top: 5.333vw;
  margin-bottom: 6.933vw;
}

.infor_detail .tel a {
  font-size: 5.333vw;
  font-weight: 700;
  color: #fff;
  padding-left: 10.933vw;
  position: relative;
}

.infor_detail .tel a:hover {
  text-decoration: underline;
}

.infor_detail .tel a::before {
  content: "";
  position: absolute;
  width: 7.733vw;
  height: 7.733vw;
  top: 0;
  left: 0;
  background: url(../img/ico_phone.png) no-repeat 0 0 / 100% 100%;
}

@media screen and (min-width: 768px) {
  #infor {
    padding: 0;
  }

  #infor .inner {
    padding: 0 71px;
    display: flex;
  }

  .infor_img {
    max-width: 579px;
    width: 100%;
  }

  .infor_detail {
    max-width: 645px;
    width: 100%;
    padding: 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .infor_detail .ttl {
    font-size: 20px;
    font-weight: 700;
  }

  .infor_detail .txt {
    font-size: 20px;
    margin-bottom: 30px;
  }

  .infor_detail .btn {
    margin-top: 0;
    margin-bottom: 36px;
  }

  .infor_detail .tel a {
    font-size: 20px;
    padding-left: 39px;
  }

  .infor_detail .tel a::before {
    width: 29px;
    height: 29px;
  }
}

@media screen and (max-width: 950px) and (min-width: 768px) {
  #infor .inner {
    padding: 0 14px;
  }

  .infor_detail .txt {
    margin-bottom: 20px;
  }

  .infor_detail .btn {
    margin-bottom: 26px;
  }
}

@media screen and (max-width: 767px) {
  .infor_img {
    padding: 0 1.867vw;
    margin-bottom: 8.267vw;
  }

  .infor_detail .tel {
    margin-bottom: 1.867vw;
  }
}

/* Features */
#features {
  background: #EBF6F8 url(../img/img_fea_bg_sp.png) no-repeat 0 0 / 100% auto;
  padding: 23.467vw 0 23.733vw;
}

#features .sec_ttl {
  margin-bottom: 14.400vw;
}

.feature_box {
  display: flex;
}

.feature_box:not(:last-child) {
  margin-bottom: 16vw;
}

.box_detail {
  position: relative;
  z-index: 2;
}

.b_num {
  font-size: 3.200vw;
  font-weight: 500;
  line-height: 1.2;
  color: #fff;
  width: 11.733vw;
  height: 15.467vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5.067vw;
  position: relative;
}

.b_num::before {
  content: "";
  position: absolute;
  width: 11.733vw;
  height: 15.467vw;
  top: 0;
  left: 0;
  background: url(../img/ico_egg.png) no-repeat 0 0 / 100% 100%;
}

.b_num .en {
  font-size: 5.333vw;
  font-weight: 700;
}

.b_num > span {
  text-align: center;
  margin-top: 2.667vw;
  position: relative;
}

.b_ttl {
  font-size: 4.800vw;
  font-weight: 700;
  line-height: 1.5;
  color: #FD4D3F;
  margin-bottom: 4.533vw;
}

.b_txt {
  font-size: 3.200vw;
  font-weight: 500;
  color: #12407E;
  transform: rotate(0.05deg);
}

.b_txt a {
  text-decoration: underline;
}

.b_txt a:hover {
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  #features {
    padding: 210px 0 103px;
    background: #EBF6F8 url(../img/img_fea_bg.png) repeat-y 0 0;
    background-size: cover;
  }

  #features .inner {
    padding: 0 140px;
  }

  #features .sec_ttl {
    margin-bottom: 103px;
  }

  .feature_box {
    padding-right: 41px;
  }

  .feature_box:not(:last-child) {
    margin-bottom: 112px;
  }

  .feature_box.box_reverse {
    padding-right: 0;
    padding-left: 41px;
  }

  .box_detail {
    max-width: 410px;
    width: 100%;
    margin-right: -58px;
  }

  .feature_box.box_reverse .box_detail {
    margin-left: -58px;
    margin-right: 0;
  }

  .b_num {
    font-size: 12px;
    position: relative;
    width: 52px;
    height: 70px;
    margin-bottom: 19px;
  }

  .b_num::before {
    width: 52px;
    height: 70px;
  }

  .b_num > span {
    margin-top: 10px;
  }

  .b_num .en {
    font-size: 20px;
  }

  .b_ttl {
    font-size: 26px;
    margin-bottom: 17px;
  }

  .b_txt {
    font-size: 14px;
    line-height: 2.1;
  }
}

@media screen and (max-width: 980px) and (min-width: 768px) {
  #features .inner {
    padding: 0 70px;
  }
}

@media screen and (max-width: 767px) {
  #features .sec_ttl {
    letter-spacing: 0;
  }

  .feature_box {
    flex-direction: column-reverse;
  }

  .feature_box.box_reverse {
    flex-direction: column;
  }

  .box_img {
    margin: 0 -5.667vw 0 -2.333vw;
  }

  .box_detail {
    margin-top: -19.467vw;
  }
}

/* Flow */
.sec_flow {
  background: #FFF8EB;
}

.sec_flow p {
  transform: rotate(0.05deg);
}

.flow_box {
  display: flex;
}

.flow_detail {
  padding: 23.733vw 0 18.667vw;
}

.flow_detail .sec_ttl {
  margin-bottom: 1.600vw;
}

.flow_detail .txt {
  margin-bottom: 9.067vw;
}

.flow_list dl {
  display: flex;
  position: relative;
  padding-bottom: 5.333vw;
}

.flow_list dl:not(:last-child)::after {
  content: "";
  position: absolute;
  width: 3px;
  height: 100%;
  left: 12vw;
  bottom: 0;
  background: #12407E;
}

.flow_list dt {
  width: 24vw;
  height: 24vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  position: relative;
  z-index: 2;
  border-radius: 100%;
  box-shadow: 6px 10px 10px 0 rgba(0,0,0,0.1);
}

.flow_list dt img {
  width: 14.133vw;
}

.flow_list dd {
  padding: 9.600vw 0 0 4.267vw;
}

.item_ttl {
  font-size: 4.800vw;
  font-weight: 700;
  line-height: 1.4;
  color: #12407E;
  transform: rotate(0.05deg);
}

.item_ttl span {
  color: #FD4D3F;
}

.item_box {
  font-size: 3.733vw;
  font-weight: 500;
  color: #FD4D3F;
  display: inline-block;
  background: #fff;
border-radius: 8.533vw;
  border: 1px solid #FD4D3F;
  margin: 2.400vw 0 5.067vw;
  padding: 0.800vw 13.067vw 0.800vw 7.733vw;
  position: relative;
}

.item_box::after {
  content: "";
  position: absolute;
  width: 12.267vw;
  height: 12.267vw;
  bottom: -4.533vw;
  right: -0.267vw;
  background: url(../img/ico_3d_tag.png) no-repeat 0 0 / 100% 100%;
}

.item_note {
  font-size: 2.933vw;
  font-weight: 700;
  color: #12407E;
}

@media screen and (min-width: 768px) {
  .flow_box {
    max-width: 1366px;
    width: 100%;
    margin: 0 auto;
  }
  .flow_img {
    width: 491px;
  }

  .flow_detail {
    width: calc(100% - 491px);
    padding: 119px 0 0 124px;
  }

  .flow_detail .sec_ttl {
    margin-bottom: 15px;
  }

  .flow_detail .sec_ttl .en {
    margin-bottom: 4px;
  }

  .flow_detail .txt {
    margin-bottom: 36px;
  }

  .flow_list dl {
    padding-bottom: 22px;
  }

  .flow_list dl:not(:last-child)::after {
    left: 51px;
  }

  .flow_list dt {
    width: 102px;
    height: 102px;
  }

  .flow_list dt img {
    width: 53px;
  }

  .flow_list dd {
    padding: 38px 0 0 37px;
  }

  .item_ttl {
    font-size: 24px;
  }

  .item_box {
    font-size: 14px;
    border-radius: 32px;
    padding: 7px 26px;
    margin: 13px 0 16px;
  }

  .item_box::after {
    width: 46px;
    height: 46px;
    bottom: -27px;
    right: -17px;
  }

  .item_note {
    font-size: 14px;
  }
}

@media screen and (max-width: 1250px) and (min-width: 1051px) {
  .flow_img {
    width: 370px;
  }

  .flow_detail {
    width: calc(100% - 370px);
    padding: 21px 0 0 50px;
  }
}

@media screen and (max-width: 1050px) {
  .flow_box {
    flex-direction: column;
  }
}

@media screen and (max-width: 1050px) and (min-width: 768px) {
  .flow_img {
    width: 100%;
    height: 400px;
  }

  .flow_img img {
    object-fit: cover;
    width: 100%;
    height: 400px;
  }

  .flow_detail {
    width: 100%;
    padding: 119px 0 119px 75px;
  }
}

@media screen and (max-width: 767px) {
  .sec_flow .sec_ttl,
  .sec_flow .txt {
    text-align: center;
  }

  .flow_img img {
    width: 200vw;
  }
}

/* Other */
#other {
  background: #FFF8EB;
  padding: 23.733vw 0 12.800vw;
}

#other .sec_ttl {
  text-align: center;
}

#other .txt {
  text-align: center;
  margin-bottom: 8vw;
}

.other_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.other_list li {
  margin-bottom: 10.667vw;
}

.other_list li a {
  text-align: center;
}

.other_list li a:hover {
  text-decoration: underline;
}

.other_list li a figure {
  position: relative;
  margin-bottom: 3.200vw;
}

.other_list li a figure::after {
  content: "";
  position: absolute;
  width: 7.467vw;
  height: 7.467vw;
  bottom: 2.400vw;
  right: 2.133vw;
  background: url(../img/ico_link.png) no-repeat 0 0 / 100% 100%;
  transition: background .3s ease-in-out;
}

.other_list li a:hover figure::after {
  background: url(../img/ico_link_ov.png) no-repeat 0 0 / 100% 100%;
}

.other_list li .other_txt {
  font-size: 3.733vw;
  font-weight: 500;
  line-height: 1.5;
  color: #12407E;
  transform: rotate(0.05deg);
}

@media screen and (min-width: 768px) {
  #other {
    padding: 117px 0 46px;
  }

  #other .inner {
    padding: 0 14px;
  }

  #other .txt {
    margin-bottom: 57px;
  }

  .other_list {
    max-width: 810px;
    width: 100%;
    margin: 0 auto;
  }

  .other_list li {
    max-width: 210px;
    width: 100%;
    margin: 0 30px 60px;
  }

  .other_list li a figure {
    margin-bottom: 19px;
  }

  .other_list li a figure::after {
    width: 40px;
    height: 40px;
    bottom: 9px;
    right: 5px;
  }

  .other_list li .other_txt {
    font-size: 14px;
  }
}

@media screen and (max-width: 767px) {
  .other_list li {
    width: 40vw;
  }

  .other_list li:nth-child(2n+1) {
    margin-right: 6.667vw;
  }
}

/* Gallery */
#gallery {
  background: #EBF6F8 url(../img/img_gallery_bg_sp.png) no-repeat 0 0 / 100% auto;
  padding: 24vw 0 21.600vw;
  position: relative;
  overflow: hidden;
}

#gallery::before,
#gallery::after {
  content: "";
  position: absolute;
}

/* #gallery::before {
  top: 0;
  right: -26.667vw;
  width: 65.333vw;
  height: 68.533vw;
  background: url(../img/img_ob01.png) no-repeat 0 0 / 100% 100%;
}

#gallery::after {
  bottom: 3.733vw;
  left: -34.133vw;
  width: 52.800vw;
  height: 50.133vw;
  background: url(../img/img_ob09.png) no-repeat 0 0 / 100% 100%;
} */

#gallery .sec_ttl,
#gallery .txt {
  text-align: center;
  position: relative;
}

#gallery .txt {
  margin-bottom: 1.867vw;
}

.gallery_list,
.voice_list {
  width: 88%;
  margin: 0 auto;
  position: relative;
  z-index: 3;
}

.gallery_list li a img,
.voice_list li img {
  margin: 0 auto;
}

.gallery_list .slick-prev,
.gallery_list .slick-next,
.voice_list .slick-prev,
.voice_list .slick-next {
  font-size: 0;
  position: absolute;
  width: 10.667vw;
  height: 10.667vw;
  top: 50%;
  background: #fff;
  border-radius: 100%;
  transform: translate(0, -50%);
  box-shadow: 6px 10px 10px 0 rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.gallery_list .slick-prev,
.voice .slick-prev {
  left: -4vw;
}
.gallery_list .slick-next,
.voice_list .slick-next {
  right: -4vw;
}

.gallery_list .slick-prev::before,
.gallery_list .slick-next::before,
.voice_list .slick-prev::before,
.voice_list .slick-next::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 5.333vw;
  height: 3.467vw;
  transform: translate(-50%, -50%);
  transition: background .3s ease-in-out;
}

.gallery_list .slick-prev::before,
.voice_list .slick-prev::before {
  background: url(../img/ico_arr_left.png) no-repeat 0 0 / 100% 100%;
}

.gallery_list .slick-prev:hover::before,
.voice_list .slick-prev:hover::before {
  background: url(../img/ico_arr_left_ov.png) no-repeat 0 0 / 100% 100%;
}

.gallery_list .slick-next::before,
.voice_list .slick-next::before {
  background: url(../img/ico_arr_right.png) no-repeat 0 0 / 100% 100%;
}

.gallery_list .slick-next:hover::before,
.voice_list .slick-next:hover::before {
  background: url(../img/ico_arr_right_ov.png) no-repeat 0 0 / 100% 100%;
}

.gallery_list .slick-prev.slick-disabled::after,
.gallery_list .slick-next.slick-disabled::after,
.voice_list .slick-prev.slick-disabled::after,
.voice_list .slick-next.slick-disabled::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 100%;
  background: rgba(255, 255, 255, 0.5);
}

@media screen and (min-width: 768px) {
  #gallery {
    padding: 123px 0 106px;
    background: #EBF6F8 url(../img/img_gallery_bg.png) no-repeat 0 0 / 100% auto;
  }

  #gallery::before {
    width: 457px;
    height: 382px;
    top: -49px;
    right: -103px;
    background: url(../img/img_ob08.png) no-repeat 0 0 / 100% 100%;
  }

  #gallery::after {
    width: 248px;
    height: 345px;
    bottom: 61px;
    left: -152px;
  }

  #gallery .txt {
    margin-bottom: 33px;
  }

  .gallery_list,
  .voice_list {
    max-width: 1366px;
    width: 100%;
    margin: 0 auto;
    padding: 0 80px;
  }

  .gallery_list .slick-list {
    overflow: visible;
  }

  .gallery_list .slick-prev,
  .gallery_list .slick-next,
  .voice_list .slick-prev,
  .voice_list .slick-next {
    width: 80px;
    height: 80px;
  }

  .gallery_list .slick-prev,
  .voice_list .slick-prev {
    left: 0;
  }
  .gallery_list .slick-next,
  .voice_list .slick-next {
    right: 0;
  }

  .gallery_list .slick-prev::before,
  .gallery_list .slick-next::before,
  .voice_list .slick-prev::before,
  .voice_list .slick-next::before {
    width: 31px;
    height: 20px;
  }
}

/* FAQ */
#faq {
  background: #C9E8EA url(../img/img_faq_bg_01_sp.png) no-repeat 0 0 / 100% auto;;
  padding: 23.733vw 0 9vw;
}

#faq .sec_ttl {
  text-align: center;
}

.faq_bg {
  background: url(../img/img_faq_bg_02_sp.png) repeat-y 0 0 / 100% auto;
}

.faq_group {
  margin-bottom: 15.733vw;
}

.faq_group h3 {
  font-size: 4.800vw;
  font-weight: 700;
  line-height: 1.5;
  color: #12407E;
  text-align: center;
  margin-bottom: 2.400vw;
}

.qa_box {
  background: #fff;
  border-radius: 8vw;
  padding: 4.800vw 3.200vw;
  margin-bottom: 2.667vw;
}

.qa_box dt,
.qa_box dd {
  color: #12407E;
  position: relative;
  transform: rotate(0.05deg);
}

.qa_box dt::before,
.qa_box dd::before {
  position: absolute;
  font-size: 6.400vw;
  font-weight: 700;
  line-height: 1.2;
  font-family: 'Dosis', sans-serif;
  text-transform: uppercase;
  left: 2.400vw;
}

.qa_box dt {
  font-size: 4.267vw;
  line-height: 1.5;
  padding: 0 11.467vw;
}

.qa_box dt::before {
  content: "q";
  top: 0;
  color: #FD4D3F;
}

.qa_box dt::after {
  content: "";
  position: absolute;
  right: 0;
  top: 40%;
  width: 4vw;
  height: 2.667vw;
  background: url(../img/ico_arr_acor.png) no-repeat 0 0 / 100% 100%;
  transform: rotate(180deg);
  transition: rotate .3s ease-in-out;
}

.qa_box dt.opened::after {
  transform: rotate(0deg);
}

.qa_box dd {
  font-size: 3.733vw;
  font-weight: 500;
  line-height: 1.5;
  border-top: 2px solid #C9E8EA;
  display: none;
  margin-top: 4.533vw;
  padding: 4.533vw 11.467vw 0 10.467vw;
}

.qa_box dd::before {
  content: "a";
}

.point {
  background: #fff;
  border-radius: 8vw;
  margin-bottom: 2.667vw;
  display: flex;
  padding: 2.667vw 3.200vw 5.333vw;
}

.point .col_l {
  display: flex;
}

.point .col_l h4 {
  font-size: 4.800vw;
  font-weight: 700;
  line-height: 1.5;
  color: #FD4D3F;
}

.point .col_l .point_num {
  font-size: 2.667vw;
  font-weight: 700;
  line-height: 1.2;
  width: 11.733vw;
  height: 16vw;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-right: 5.333vw;
  background: url(../img/ico_egg.png) no-repeat 0 0 / 100% 100%;
}

.point .col_l .point_num .en {
  font-size: 4.800vw;
}

.point .col_r .p_txt {
  font-size: 3.733vw;
  font-weight: 500;
  line-height: 1.5;
  color: #12407E;
  transform: rotate(0.05deg);
  }

.point .col_r .p_list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 4.800vw;
}

.point .col_r .p_list li {
  width: calc(100% / 3);
  text-align: center;
  margin-bottom: 3.733vw;
}

.point .col_r .p_list li p {
  font-size: 2.933vw;
  font-weight: 500;
  line-height: 1.1;
  color: #12407E;
  transform: rotate(0.05deg);
}

.point .col_r > figure {
  margin-top: 4.533vw;
}

@media screen and (min-width: 768px) {
  #faq {
    background: #C9E8EA url(../img/img_faq_bg_01.png) no-repeat 0 0 / 100% auto;;
    padding: 118px 0 120px;
  }

  .faq_bg {
    padding: 0 14px;
    background: url(../img/img_faq_bg_02.png) repeat-y 0 0 / 100% auto;
  }

  #faq .sec_ttl {
    margin-bottom: 57px;
  }

  .faq_container {
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
  }

  .faq_group {
    margin-bottom: 89px;
  }
  .faq_group:last-child {
    margin-bottom: 0;
  }

  .faq_group h3 {
    font-size: 30px;
    margin-bottom: 18px;
  }

  .qa_box {
    border-radius: 30px;
    padding: 16px 30px;
    margin-bottom: 20px;
  }

  .qa_box dt::before,
  .qa_box dd::before {
    font-size: 34px;
    left: 11px;
  }

  .qa_box dt {
    font-size: 16px;
    line-height: 1.8;
    padding: 0 78px;
  }

  .qa_box dt::before {
    top: -5px;
  }

  .qa_box dt::after {
    width: 19px;
    height: 13px;
    top: 8px;
  }

  .qa_box dd {
    font-size: 14px;
    line-height: 2.1;
    margin-top: 27px;
    padding: 21px 78px 5px;
  }

  .qa_box dd::before {
    bottom: -2px;
  }

  .qa_box dd.txt2::before {
    bottom: 28px;
  }

  .qa_box dd.txt3::before {
    bottom: 58px;
  }

  .qa_box dd.txt4::before {
    bottom: 87px;
  }

  .qa_box dd.txt5::before {
    bottom: 114px;
  }

  .point {
    border-radius: 30px;
    margin-bottom: 20px;
    padding: 20px 36px 35px 48px;
  }

  .point .col_l {
    width: calc(100% - 490px);
  }

  .point .col_l h4 {
    font-size: 26px;
    line-height: 1.5;
    padding-top: 9px;
  }

  .point .col_l .point_num {
    font-size: 12px;
    width: 52px;
    height: 70px;
    margin-right: 36px;
  }

  .point .col_l .point_num .en {
    font-size: 20px;
  }

  .point .col_r {
    width: 490px;
  }

  .point .col_r .p_txt {
    font-size: 14px;
    line-height: 2.1;
  }

  .point .col_r .p_list {
    margin: 17px -2px 0;
  }

  .point .col_r .p_list li {
    max-width: 160px;
    width: 100%;
    margin: 0 2px 34px;
  }

  .point .col_r .p_list li figure {
    margin-bottom: 7px;
  }

  .point .col_r .p_list li p {
    font-size: 16px;
  }

  .point .col_r > figure {
    margin-top: 15px;
  }
}

@media screen and (max-width: 900px) and (min-width: 768px) {
  .point .col_l {
    width: calc(100% - 400px);
  }

  .point .col_l .point_num {
    margin-right: 10px;
  }

  .point .col_r {
    width: 400px;
  }

  .point .col_r .p_list {
    justify-content: center;
  }
}

@media screen and (max-width: 767px) {
  .faq_container {
    padding: 0 3.200vw;
  }

  .point {
    flex-direction: column;
  }

  .point .col_r .p_txt {
    padding-left: 17.067vw;
  }

  .point .col_r .p_list {
    justify-content: space-between;
  }

  .point .col_r .p_list li img {
    width: 22.400vw;
    margin: 0 auto;
  }

  .point .col_r .p_list li p {
    word-break: keep-all;
    letter-spacing: -1px;
  }
}

/* ------------------------------------------------------
Footer
------------------------------------------------------ */
footer {
  background: #12407E;
  color: #fff;
}

footer .inner {
  padding: 13.333vw 6.667vw;
  position: relative;
}

.f_container {
  margin-bottom: 14.933vw;
}

.f_left {
  text-align: center;
  margin-bottom: 6.667vw;
}

.f_ttl {
  font-size: 7.467vw;
  font-weight: 700;
  font-family: 'Noto Sans JP', sans-serif;
  margin-bottom: 4.800vw;
}

.f_logo {
  width: 38.933vw;
  margin: 0 auto;
}

.address,
.f_link li a {
  font-size: 3.733vw;
  font-weight: 700;
  font-family: 'Noto Sans JP', sans-serif;
}

.address {
  margin-bottom: 9.600vw;
}

.f_link li {
  margin-bottom: 4.267vw;
}

.f_link li a:hover {
  text-decoration: underline;
}

.copyright {
  font-size: 3.200vw;
  font-weight: 500;
}

.totop {
  background: #FFF8EB;
  border-radius: 100%;
  width: 20.267vw;
  height: 20.267vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 43px;
  cursor: pointer;
  box-shadow: 6px 10px 10px 0px rgba(0, 0, 0, 0.3);
  transition: all .3s ease-in-out;
}

.totop:hover {
  background: #FD4D3F;
  box-shadow: none;
}

.totop span {
  font-size: 2.667vw;
  font-weight: 700;
  color: #12407E;
  padding-top: 7.467vw;
  position: relative;
  transition: color .3s ease-in-out;
}

.totop:hover span {
  color: #fff;
}

.totop span::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  height: 5.600vw;
  width: 3.733vw;
  transform: translate(-50%, 0);
  background: url(../img/ico_arr_top.png) no-repeat 0 0 / 100% 100%;
  transition: background .3s ease-in-out;
}

.totop:hover span::before {
  background: url(../img/ico_arr_top_ov.png) no-repeat 0 0 / 100% 100%;
}

@media screen and (min-width: 768px) {
  footer .inner {
    padding: 59px 96px 62px;
  }

  .totop {
    width: 76px;
    height: 76px;
    top: 45px;
    right: 96px;
    position: absolute;
    margin: 0;
  }

  .totop span {
    font-size: 10px;
    padding-top: 28px;
  }

  .totop span::before {
    height: 21px;
    width: 14px;
  }

  .f_container,
  .f_right {
    display: flex;
  }

  .f_container {
    margin-bottom: 30px;
  }

  .f_left {
    margin-right: 105px;
    margin-bottom: 0;
  }

  .f_right {
    display: flex;
  }

  .f_ttl {
    font-size: 24px;
    margin-bottom: 33px;
  }

  .f_logo {
    max-width: 146px;
    width: 100%;
  }

  .address {
    font-size: 16px;
    line-height: 1.6;
    margin-right: 111px;
    margin-bottom: 0;
  }

  .f_link li {
    margin-bottom: 12px;
  }

  .f_link li a {
    font-size: 12px;
  }

  .copyright {
    font-size: 12px;
    text-align: right;
  }
}

@media screen and (max-width: 980px) and (min-width: 768px) {
  footer .inner {
    padding: 59px 30px 62px;
  }

  .totop {
    right: 30px;
  }

  .f_left {
    margin-right: 40px;
  }

  .address {
    margin-right: 80px;
  }
}

@media screen and (max-width: 767px) {
  .address,
  .f_link li{
    text-align: center;
  }
}
